
html {
    background-color: #a4b0f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-size: 100%;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.25em;
}

h3 {
    font-size:2em;
}

p {
    font-size: 1.5em;
}

li {
    font-size:1.5em;
}

section {
    /*background-image: linear-gradient(to Right, #a4b0f5, #4464ad, #a4b0f5);*/
    background-color: #4464ad;
}

section h1 {
    text-align: center;
}

#Sidebar {
    /*width: 10%;
    min-width: 100px;*/
    flex: 10%;
    padding: 0px;
    margin: 10px;
    background-color: #f58f29;
    float: left;
}

#Sidebar a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: #f58f29;
}

#Sidebar a:hover {
    color: white;
    background-color: #7d4600;
}

#Sidebar a.active {
    background-color: #4464ad;
}

.button {
    /*width: inherit;*/
    padding: 0px;
    margin: 0px;
    /*border: 1px solid #f58f29;*/
    border: 1px solid rgba(0,0,0,0);
    text-align: center;
    /*background-image:linear-gradient(white, gray, gray, white);*/
}

.button h3 {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.content {
    display: flex;
    margin: 10px;
}

.pageCon {
    flex: 90%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    border: 5px solid #466995;
}

.image {
    float:right;
    width:30%;
    padding: 5px;
    margin: 10px;
    border: 5px solid #466995;
}

.image img {
    width: 100%;
}

.image p {
    font-size: 1em;
}